/* HEADER */
.header {
  /* grid-area: header; */
  padding: 50px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  padding: 0;
}

.infos-left {
  padding: 0;
  list-style-type: none;
}

.infos-right {
  padding: 0;
  list-style-type: none;
}
