a {
  text-decoration: none;
  color: #4472C4;
}

a.social {
  color: rgb(0, 0, 0);
}

a.social:hover {
  border: 1px solid rgb(254, 254, 254);
  border-radius: 50%;
  background-color: rgb(45, 185, 203);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.btn.btn-primary:hover {
  text-decoration: none;
}

a.btn.btn-success:hover {
  text-decoration: none;
}
