@media (max-width: 750px) {
  .container.indent-container {
    margin-top: 50px;
    padding: 40px;
  }

  .infos {
    grid-template-columns: 1fr;
    padding: 30px;
    padding-left: 100px;
  }
}

@media (max-width: 600px) {
  .container.indent-container {
    margin-top: 0;
    padding: 40px;
  }
}

@media all and (max-width: 500px) {
  .infos {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  ul.hobby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2em;
  }
}

@media (max-width: 410px) {
  .container.indent-container {
    padding: 15px;
  }

  .circle {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 380px) {
  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h5 {
    font-size: 15px;
  }

  .infos {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .circle {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .container.indent-container {
    padding: 15px;
  }
}


@media (max-width: 300px) {
  .container.indent-container {
    padding: 10;
  }

  .header {
    padding: 20px;
  }

  div.section.indent-big {
    padding: 20px;
  }

  ul.hobby {
    grid-row-gap: 1em;
  }
}
